zoombar = url(../images/zoom.png)

.mc-zoom {
    background: zoombar;
    width: 24px;
    height: 200px;
    
    &-btn {
        height: 14px;
        margin: 1px 0;
        
        &-in {
            background: zoombar 0 -248px no-repeat;
        }
        
        &-out {
            background: zoombar 0 -296px no-repeat;
        }
    }
    
    &-slider {
        height: 166px;
    }
    
    &-thumb {
        height: 16px;
        background: zoombar 0 -200px no-repeat;
    }
}