zoombar = url(../images/zoom.png)
instart = -248px
outstart = -296px

.mc-zoom {
    background: zoombar;
    width: 24px;
    height: 200px;
    
    &-btn {
        height 14px
        margin 1px 0
        display block
        
        &-in {
            background: zoombar 0 (instart - 16) no-repeat;
            
            &:hover {
                background-position: 0 instart
            }
            
            &:active {
                background-position: 0 (instart - 32)
            }
        }
        
        &-out {
            background: zoombar 0 (outstart - 16) no-repeat

            &:hover {
                background-position: 0 outstart
            }
            
            &:active {
                background-position: 0 (outstart - 32)
            }
        }
    }
    
    &-slider {
        height: 166px;
    }
    
    &-thumb {
        height: 16px;
        background: zoombar 0 -200px no-repeat;
        display block
    }
}